<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">ЗАКАЗ №1</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Вид изделия</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 ств. двери НК</td>
                <td>{{ doors_nk }}</td>
            </tr>
            <tr>
                <td>1 ств. двери СК</td>
                <td>{{ doors_sk }}</td>
            </tr>
            <tr>
                <td>2 ств. двери НК</td>
                <td>{{ doors_2nk }}</td>
            </tr>
            <tr>
                <td>2 ств. двери СК</td>
                <td>{{ doors_2sk }}</td>
            </tr>
            <tr>
                <td>Люков НК</td>
                <td>{{ hatches_nk }}</td>
            </tr>
            <tr>
                <td>Люков СК</td>
                <td>{{ hatches_sk }}</td>
            </tr>
            <tr>
                <td>Ворот</td>
                <td>{{ gates }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Стекла:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Размер стекла</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
        {% for glass, quantity in glass_order.items %}
            <tr>
                <td>{{ glass }}</td>
                <td>{{ quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>