<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заказов</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .custom-cell {
            font-size: 20px;
            color: dodgerblue;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
    <style>
        .custom-header {
            background-color: #17a2b8; /* Измените на нужный цвет */
            color: white; /* Цвет текста */
    }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Список заказов</h1>
    
    <table class="table table-bordered text-center table-hover">
        <thead class="custom-header">
            <tr>
                <th>№</th>
                <th>1 НК</th>
                <th>1 СК</th>
                <th>2 НК</th>
                <th>2 СК</th>
                <th>Л НК</th>
                <th>Л СК</th>
                <th>В</th>
                <th>Фр</th>
                <th>Стекло</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="custom-cell">{{ order.order_id }}</td>
                <td>{{ order.doors_nk }}</td>
                <td>{{ order.doors_sk }}</td>
                <td>{{ order.doors_2nk }}</td>
                <td>{{ order.doors_2sk }}</td>
                <td>{{ order.hatches_nk }}</td>
                <td>{{ order.hatches_sk }}</td>
                <td>{{ order.gates }}</td>
                <td>{{ order.vent }}</td>
                <td>
                    {% if order.glass_order %}
                        <button class="btn btn-info" 
                                onclick="showGlassOrder('{{ order.order_id }}')" data-toggle="modal" data-target="#glassOrderModal">
                            {{ order.total_glass_order }}
                        </button>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'delete_order' order.order_id %}">Удалить</a>
                </td>
            </tr>
            <script id="glass-order-{{ order.order_id }}" type="application/json">
                {{ order.glass_order|json_script }}
            </script>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="glassOrderModal" tabindex="-1" role="dialog" aria-labelledby="glassOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="glassOrderModalLabel">Информация о стекле</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Здесь будет размещена таблица -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showGlassOrder(orderId) {
        const glassOrderElement = document.getElementById(`glass-order-${orderId}`);
        const jsonString = glassOrderElement.innerHTML;
        const jsonData = jsonString.replace(/<script.*?>|<\/script>/g, '').trim();
        const glassOrderData = JSON.parse(jsonData);

        let tableHtml = '<table class="table table-bordered text-center"><tr><th>Размер стекла</th><th>Количество</th></tr>';
        for (const [size, quantity] of Object.entries(glassOrderData)) {
            tableHtml += `<tr><td>${size}</td><td>${quantity}</td></tr>`;
        }
        tableHtml += '</table>';

        document.getElementById('modalBody').innerHTML = tableHtml;
    }
</script>
</body>
</html>